$background-color-theme-default: #066CD4;
$color-theme-default: #fff;
$tab-selected-background-color-theme-default: #198AFE;
$tab-unselected-background-color-theme-default: #4C5159;


$background-color-theme-white: #57fc60;
$color-theme-white: #fff;
$tab-selected-background-color-theme-white: #20db2a;
$tab-unselected-background-color-theme-white: #ccc;



// login
$login-background: url("/imgs/login-bg.png");

// head 
$head-height: 70px;